{% extends "web/secciones/historico.html" %}

{% block izquierda %}
    <div class="row-fluid">
        <div class=span12>

            <div class="black-box padded">
                <form method="post" class="fill-up">{% csrf_token %}
                    <div class="control-group">
                        <div class="control-label">
                            {{ formconsulta.sensores.label }}
                        </div>
                        <div class="controls">
                            {{ formconsulta.sensores }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label">
                            {{ formconsulta.fecha.label }}

                        </div>
                        <div class="controls">
                            {{ formconsulta.fecha }}
                        </div>
                    </div>
                    <div class="control-group">
                        <button type="submit" name="consulta" class="btn btn-large btn-primary">Consultar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
{% block derecha %}
    <div class="row-fluid">
        <div class=span12>
            <div class="box" style="position:relative;">
                <div class="tab-header" role="grid">
                    {{ etiquetas.titulotab }}
                </div>
                <table id="tabla24" class="table table-striped table-bordered box">
                </table>
            </div>


        </div>
    </div>
    <div class="box">
        <div class="tab-header">
            {{ etiquetas.titulograf }}
        </div>
        <div class="padded">
            <div id="chart1" style="width: 100%; height: 250px;"></div>
        </div>
    </div>


{% endblock %}

{% block scriptfoot %}
$(document).ready(function()
{
{#        var pickerOpts = {#}
{#        changeMonth: true,#}
{#        changeYear: true,#}
{#        yearRange: "-2:+1",#}
{#        showOn: "button",#}
{#        buttonText: "Calendario",#}
{#        dateFormat:"d-m-yy"#}
{#        };#}
{##}
        $("#id_fecha").datepicker({dateFormat:"d-m-yy"});


{% autoescape off %}
    {%  if etiquetas.titcol1 == "Horas" %}
        var graf=  ponGraficoDia({{ listgraf }});
    {% endif %}
    {%  if etiquetas.titcol1 == "Dia Semana" %}
        var graf=  ponGraficoSemana({{ listgraf }});
    {% endif %}
    {%  if etiquetas.titcol1 == "Dias" %}
        var graf=  ponGraficoMesActual({{ listgraf }},"#chart1");
    {% endif %}
    {%  if etiquetas.titcol1 == "Mes" %}
        var graf=  ponGraficoAno({{ listgraf }});
    {% endif %}

    $('#tabla24').dataTable({
    "aaData":{{ listadatos }},
    "aaSorting": [[ 0, "desc" ]],
    "aoColumns":[{"sTitle" : "{{ etiquetas.titcol1 }}" } , {"sTitle": "Energia en Watts"}  ]
    });
{%  endautoescape %}


});
{% endblock %}