<!DOCTYPE html>
{% load dajaxice_templatetags %}
<html>
<head>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery172.js"></script>
    {% dajaxice_js_import %}
    <title></title>
    <script type="text/javascript">
    $(function()
    {
    Dajaxice.web.grafico_dia(ponGraficoDia);
    Dajaxice.web.grafico_mes(ponGraficoMesActual);
    Dajaxice.web.comprobarLectura(comprobarLectura);



    $("#lecturaonoff").click(function(){
    $("#lecturaonoff").append($('<a href="#" id="modal-link"> <i class="icon-random"></i> Va a proceder reiniciar la conexion</a>'))
    Dajaxice.web.conectarLectura(comprobarLectura);
    }) ;

    });
    </script>
</head>
<body>

</body>
</html>